.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.home-container{
  margin:40px auto;
  width:600px;

}
.userDetails{
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
}
.userDetails p:last-child{
  margin-left: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 500ms linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.btn-loader {
  border: 1px solid #f3f3f3;
  border-radius: 50%;
  border-top: 1px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin1 2s linear infinite; /* Safari */
  animation: spin1 500ms linear infinite;
  margin-left: 20px;
}

/* Safari */
@-webkit-keyframes spin1 {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.d-none{
  display: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin: 10px 15%;

  align-items: center;
}
.btn-outline{
  display: inline-block;
  background-color: black;
  border: 2px solid black;
  color: white;
  padding: 13px 30px;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  text-decoration: none;
}